<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Farzaneh Kazemi * * * * * * * * * * * -->
<!-- * * * * * * * * * * 17th Feb. 2023 * * * * * * * * * * -->
<!-- * * * * * * * * * * First project with routing. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="#">Project1</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/home">Home</a>
      <a class="nav-item nav-link" href="/services">Services</a>
      <a class="nav-item nav-link" href="/projects">Projects</a>
      <a class="nav-item nav-link" href="/contact">Contact</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
